body{
    position: relative;
    width: 100%;
    overflow-x: hidden ;
    background: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

a, .text-dark{
    color: #3a3a3a
}

a:hover, a:focus, a:active{
    color: #3a3a3a;
    text-decoration: none;
}

.text-faded{
    color: rgba(255, 255, 255, 0.7)
}

/* Button */
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background: rgba(64,39,160,1);
    border-color: rgba(64,39,160,1);
    color: #fff;
    margin-top: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25)
}

.bg-primary{
    background: rgba(64,39,160,1) !important;
}

.btn-xl{
    padding: 12px 30px;
    border-radius: 30px;
}

h2,h3,h4{
    margin:0;
    font-weight: 700
}

p{
    margin: 0
}

section{
    padding: 80px 0px;
}

.section-title{
    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(102,62,255,1)
}

.lead{
    font-size: 16px;
    font-weight: 300;
}

/* Navbar */

.navbar{
    padding: 20px 0px;
    box-shadow: none;
    background-color: transparent;
}

.navbar-brand{
    font-size: 28px;
    font-weight: 700;
    color: #3a3a3a
}

.navbar.navbar-expand-md .navbar-nav .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    padding: 0px 30px 0px 0px
}

.navbar .navbar-expand-md .navbar-nav .nav-tem:last-child .nav-link{
    padding-right: 50px;
}

.navbar-nav .nav-item .nav-link::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0px;
    height: 2px;
    background: #000;
    transition: all .5s ease-in-out ;
}

.navbar-nav .nav-item .nav-link:hover::before,
.navbar-nav .nav-item .nav-link.active::before{
    width: 40px
}

#navbar.navbar-scrolled{
    background: #fff;
    padding: 10px 0px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

#navbar.navbar-scrolled .nav-link{
    color: rgba(64, 39, 160, 1)
}

#navbar.navbar-scrolled .nav-item .nav-link::before{
    background: rgba(64, 39, 160, 1) ;
}

/* Showcase */

.showcase{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/test.png")no-repeat center;
    background-size: cover;
}

.showcase h2{
    font-size: 50px;
    letter-spacing: .2px;
    font-weight: 300;
}

.showcase .lead{
    line-height: 1.4;
}

/* About */

.about-section .lead{
    color: #3a3a3a;
    border: 1px solid black
}

/* Services */

.services-icon{
    width: 100px;
    height: 100px;
    background: #fff;
    color: rgba(102,62,255,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

/* Register */

.register-container{
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.signup_title{
    background-color: aqua;
    font-size: 40px;
}

/* Footer */
.footer .lead{
    font-size: 14px;
    color: #3a3a3a
}

.mark{
    color: rgba(102,62,255,1);
    font-weight: 500;
}

/* Scroll to top */

.scroll-to-top{
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(102,62,255,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.scroll-to-top:focus,
.scroll-to-top:hover{
    color:#fff;
    background: rgba(102,62,255,1);
}


.ss{
    color: red
}
