<section class="services-section bg-primary text-white" id="services">
    <div class="container text-center">
        <div class="content-section-heading">
            <h2 class="section-title mb-5 text-white">Services</h2>
        </div>
        <div class="row mb-4">
            <div class="col-lg-3 col-md-6">
                <span
                    class="services-icon rounded-circle mx-auto mb-3 d-flex justify-content-center align-items-center">
                    <i class="fa fa-mobile fa-3x"></i>
                </span>
                <h4 class="md-1">
                    <strong>Responsive</strong>
                </h4>
                <p class="lead text-faded">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span
                    class="services-icon rounded-circle mx-auto mb-3 d-flex justify-content-center align-items-center">
                    <i class="fa fa-mobile fa-3x"></i>
                </span>
                <h4 class="md-1">
                    <strong>Responsive</strong>
                </h4>
                <p class="lead text-faded">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span
                    class="services-icon rounded-circle mx-auto mb-3 d-flex justify-content-center align-items-center">
                    <i class="fa fa-mobile fa-3x"></i>
                </span>
                <h4 class="md-1">
                    <strong>Responsive</strong>
                </h4>
                <p class="lead text-faded">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span
                    class="services-icon rounded-circle mx-auto mb-3 d-flex justify-content-center align-items-center">
                    <i class="fa fa-mobile fa-3x"></i>
                </span>
                <h4 class="md-1">
                    <strong>Responsive</strong>
                </h4>
                <p class="lead text-faded">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>
        </div>
    </div>
</section>