{% load static %}
<section class="register-section" id="services">
    <div class="container register-container">
        <div class="col-offset-3 col-md-6" style="border: 1px solid black">
            <div class="signup_title">Sign Up</div>
            <form method="POST" action="" id="signup-form" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                {% for field in register_form %}
                {{ field.label_tag }}
                <p>{{ field }}</p>

                <!-- {% for error in field.errors %}
                <p style=" color: red;">{{error}}</p>
                {% endfor %} -->
                <!-- <p id="id_{{ field.title }}">abc</p> -->
                <div class="form_error">abc</div>

                {% endfor %}

                <input class="btn btn-info" type="submit" name="signup" value="Sign Up">
            </form>
        </div>
    </div>
</section>